---
export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries({
    content_type: "blogPostBrainEvoAcademy",
  });

  return entries.items.map((item) => ({
    params: { slug: item.fields.slug },
  }));
}

import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";

const { slug } = Astro.params;

// Fetch artikel berdasarkan slug
const entries = await contentfulClient.getEntries({
    content_type: "blogPostBrainEvoAcademy",
    "fields.slug": slug,
});

const post = entries.items[0];

if (!post) {
    throw new Error(`Artikel dengan slug "${slug}" tidak ditemukan.`);
}

const title = post.fields.title;
const author = post.fields.author;
const date = post.fields.publishedDate;
const content = post.fields.content;
const image = post.fields.featuredImage.fields.file.url;

const daydate = new Date(date).toLocaleDateString("id-ID", {
    weekday: "long",
    day: "2-digit",
    month: "short",
    year: "numeric",
});
---

<Layout title={title} currentPath={`/article`}>
    <div class="">
        <div class="overflow-hidden bg-blue-300 w-full min-w-[320px] min-h-[160px] aspect-[5/1] mb-4
        mask-radial-farthest-corner mask-b-from-70% mask-radial-at-[50%_0%] mask-radial-from-30% mask-radial-to-80%">
            <img src={image} alt={title} class="object-cover w-full h-full object-[center_60%]" />
        </div>
        <div class="w-full flex justify-center">
            <section class="max-w-3xl mx-auto px-4 pb-32">
                <div id="landing" class="border-zinc-900/50 mb-16 max-[720px]:mb-8 max-[375px]:text-sm max-[1024px]:text-base text-lg select-none">
                    <a href="/" class="hover:text-sky-600">
                        <iconify-icon icon="material-symbols:home-rounded" class="max-[375px]:text-xl max-[1024px]:text-2xl text-3xl translate-y-[0.25em]"/>
                    </a>
                    <iconify-icon icon="material-symbols:arrow-forward-ios-rounded" class="translate-y-[0.2em]"/> 
                    <a href="/article" class="hover:underline">
                        Article
                    </a>
                    <iconify-icon icon="material-symbols:arrow-forward-ios-rounded" class="translate-y-[0.2em]"/>
                    <span class="text-sky-700">{title}</span>
                </div>

                <h1 id="landing" class="max-[375px]:text-2xl max-[1024px]:text-3xl text-4xl font-bold text-center mb-4">{title}</h1>
                <p id="landing" class="text-center text-sm text-gray-500 mb-8 max-[720px]:mb-12">
                    {author} &bull; {daydate}
                </p>

                
                <article class="prose max-w-none" set:html={documentToHtmlString(content)}></article>
            </section>
        </div>
    </div>
    <Footer />
</Layout>
