---
import building from '../assets/images/building.jpg';
import lengkap from '../assets/images/lengkap.jpg';
import flexible from '../assets/images/flexible.jpg';
import senang from '../assets/images/senang.jpg';
import percaya from '../assets/images/percaya.jpg';
import ahli from '../assets/images/ahli.jpg';
---
<section id="landing" class="select-none">
    <div class="mb-32 mt-24 max-[720px]:mt-[2rem] text-center select-none">
        <h3 class="leading-[1.2] font-sans tracking-tight mb-12 max-[720px]:mb-8">Kenapa BrainEvo?</h3>
        <div class="flex justify-center w-full overflow-scroll no-scrollbar cursor-grab active:cursor-grabbing">
            <div data-index="contentBox" class="select-none w-3xl
            max-[720px]:w-full">
                <div class="flex justify-center w-max
                 space-x-8 max-[720px]:space-x-4
                 min-[720px]:-translate-x-24 min-[1024px]:-translate-x-32">
                    <div class="max-[1024px]:w-[120px] max-[720px]:w-[5vw] w-0"></div>
                    <div class="relative aspect-[3/4] uniq-window flex justify-center items-center
                    w-[300px] overflow-hidden group
                    max-[720px]:w-[150px]
                    max-[1024px]:w-[200px]">
                        <img src={senang.src} alt="Client Logo" class="h-full absolute group-hover:scale-120 group-active:scale-120 transition-all" />
                        <div class="absolute group-hover:-translate-y-8 translate-y-full bottom-0 z-20 transition-all">
                            <button class="p-[8px] hidden min-[1024px]:block text-zinc-900 rounded-xl border-2 border-zinc-900 transition-all bg-stone-100 
                            hover:drop-shadow-md hover:drop-shadow-zinc-500/30 drop-shadow-xs drop-shadow-zinc-500/30 
                            hover:-translate-y-[2px] hover:bg-zinc-300 active:bg-zinc-300 cursor-pointer min-w-max focus:outline-[1px]
                            max-[720px]:p-[4px] max-[720px]:rounded-lg">
                                <div class="flex items-center space-x-[8px] font-sans 
                                 max-[375px]:text-xs
                                 max-[1024px]:text-sm">
                                    <span class="leading-[1] p-[8px] max-[720px]:font-[600] 
                                     max-[375px]:p-[4px]
                                     max-[1024px]:p-[6px]">
                                        Selengkapnya
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="select-none z-10 w-full h-full flex justify-center items-center bg-zinc-900/50 transition-colors group-hover:bg-zinc-900/75 group-active:bg-zinc-900/75">
                            <div class="text-4xl min-[720px]:text-5xl min-[1024px]:text-6xl 
                            group-hover:text-3xl min-[720px]:group-hover:text-4xl min-[1024px]:group-hover:text-5xl 
                            group-active:text-3xl min-[720px]:group-active:text-4xl min-[1024px]:group-active:text-5xl 
                            translate-y-1 min-[1024px]:group-hover:-translate-y-2 transition-all font-[700] uppercase cursor-pointer text-stone-100">
                                Me <br> nye <br> nang <br> kan
                            </div>
                        </div>
                    </div>
                    <div class="relative aspect-[3/4] uniq-window flex justify-center items-center
                    w-[300px] overflow-hidden group
                    max-[720px]:w-[150px]
                    max-[1024px]:w-[200px]">
                        <img src={percaya.src} alt="Client Logo" class="h-full absolute group-hover:scale-120 group-active:scale-120 transition-all" />
                        <div class="absolute group-hover:-translate-y-8 translate-y-full bottom-0 z-20 transition-all">
                            <button class="p-[8px] hidden min-[1024px]:block text-zinc-900 rounded-xl border-2 border-zinc-900 transition-all bg-stone-100 
                            hover:drop-shadow-md hover:drop-shadow-zinc-500/30 drop-shadow-xs drop-shadow-zinc-500/30 
                            hover:-translate-y-[2px] hover:bg-zinc-300 active:bg-zinc-300 cursor-pointer min-w-max focus:outline-[1px]
                            max-[720px]:p-[4px] max-[720px]:rounded-lg">
                                <div class="flex items-center space-x-[8px] font-sans 
                                 max-[375px]:text-xs
                                 max-[1024px]:text-sm">
                                    <span class="leading-[1] p-[8px] max-[720px]:font-[600] 
                                     max-[375px]:p-[4px]
                                     max-[1024px]:p-[6px]">
                                        Selengkapnya
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="select-none z-10 w-full h-full flex justify-center items-center bg-zinc-900/50 transition-colors group-hover:bg-zinc-900/75 group-active:bg-zinc-900/75">
                            <div class="text-4xl min-[720px]:text-5xl min-[1024px]:text-6xl 
                            group-hover:text-3xl min-[720px]:group-hover:text-4xl min-[1024px]:group-hover:text-5xl 
                            group-active:text-3xl min-[720px]:group-active:text-4xl min-[1024px]:group-active:text-5xl 
                            translate-y-1 min-[1024px]:group-hover:-translate-y-2 transition-all font-[700] uppercase cursor-pointer text-stone-100">
                                Per <br> caya <br> diri
                            </div>
                        </div>
                    </div>
                    <div class="relative aspect-[3/4] uniq-window flex justify-center items-center
                    w-[300px] overflow-hidden group
                    max-[720px]:w-[150px]
                    max-[1024px]:w-[200px]">
                        <img src={lengkap.src} alt="Client Logo" class="h-full absolute group-hover:scale-120 group-active:scale-120 transition-all" />
                        <div class="absolute group-hover:-translate-y-8 translate-y-full bottom-0 z-20 transition-all">
                            <button class="p-[8px] hidden min-[1024px]:block text-zinc-900 rounded-xl border-2 border-zinc-900 transition-all bg-stone-100 
                            hover:drop-shadow-md hover:drop-shadow-zinc-500/30 drop-shadow-xs drop-shadow-zinc-500/30 
                            hover:-translate-y-[2px] hover:bg-zinc-300 active:bg-zinc-300 cursor-pointer min-w-max focus:outline-[1px]
                            max-[720px]:p-[4px] max-[720px]:rounded-lg">
                                <div class="flex items-center space-x-[8px] font-sans 
                                 max-[375px]:text-xs
                                 max-[1024px]:text-sm">
                                    <span class="leading-[1] p-[8px] max-[720px]:font-[600] 
                                     max-[375px]:p-[4px]
                                     max-[1024px]:p-[6px]">
                                        Selengkapnya
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="select-none z-10 w-full h-full flex justify-center items-center bg-zinc-900/50 transition-colors group-hover:bg-zinc-900/75 group-active:bg-zinc-900/75">
                            <div class="text-4xl min-[720px]:text-5xl min-[1024px]:text-6xl 
                            group-hover:text-3xl min-[720px]:group-hover:text-4xl min-[1024px]:group-hover:text-5xl 
                            group-active:text-3xl min-[720px]:group-active:text-4xl min-[1024px]:group-active:text-5xl 
                            translate-y-1 min-[1024px]:group-hover:-translate-y-2 transition-all font-[700] uppercase cursor-pointer text-stone-100">
                                Pro <br> gram <br> leng <br>kap
                            </div>
                        </div>
                    </div>
                    <div class="relative aspect-[3/4] uniq-window flex justify-center items-center
                    w-[300px] overflow-hidden group
                    max-[720px]:w-[150px]
                    max-[1024px]:w-[200px]">
                        <img src={ahli.src} alt="Client Logo" class="h-full absolute group-hover:scale-120 group-active:scale-120 transition-all" />
                        <div class="absolute group-hover:-translate-y-8 translate-y-full bottom-0 z-20 transition-all">
                            <button class="p-[8px] hidden min-[1024px]:block text-zinc-900 rounded-xl border-2 border-zinc-900 transition-all bg-stone-100 
                            hover:drop-shadow-md hover:drop-shadow-zinc-500/30 drop-shadow-xs drop-shadow-zinc-500/30 
                            hover:-translate-y-[2px] hover:bg-zinc-300 active:bg-zinc-300 cursor-pointer min-w-max focus:outline-[1px]
                            max-[720px]:p-[4px] max-[720px]:rounded-lg">
                                <div class="flex items-center space-x-[8px] font-sans 
                                 max-[375px]:text-xs
                                 max-[1024px]:text-sm">
                                    <span class="leading-[1] p-[8px] max-[720px]:font-[600] 
                                     max-[375px]:p-[4px]
                                     max-[1024px]:p-[6px]">
                                        Selengkapnya
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="select-none z-10 w-full h-full flex justify-center items-center bg-zinc-900/50 transition-colors group-hover:bg-zinc-900/75 group-active:bg-zinc-900/75">
                            <div class="text-4xl min-[720px]:text-5xl min-[1024px]:text-6xl 
                            group-hover:text-3xl min-[720px]:group-hover:text-4xl min-[1024px]:group-hover:text-5xl 
                            group-active:text-3xl min-[720px]:group-active:text-4xl min-[1024px]:group-active:text-5xl 
                            translate-y-1 min-[1024px]:group-hover:-translate-y-2 transition-all font-[700] uppercase cursor-pointer text-stone-100">
                                Ahli <br> berpe <br>ngala <br>man
                            </div>
                        </div>
                    </div>
                    <div class="relative aspect-[3/4] uniq-window flex justify-center items-center
                    w-[300px] overflow-hidden group
                    max-[720px]:w-[150px]
                    max-[1024px]:w-[200px]">
                        <img src={flexible.src} alt="Client Logo" class="h-full absolute group-hover:scale-120 group-active:scale-120 transition-all" />
                        <div class="absolute group-hover:-translate-y-8 translate-y-full bottom-0 z-20 transition-all">
                            <button class="p-[8px] hidden min-[1024px]:block text-zinc-900 rounded-xl border-2 border-zinc-900 transition-all bg-stone-100 
                            hover:drop-shadow-md hover:drop-shadow-zinc-500/30 drop-shadow-xs drop-shadow-zinc-500/30 
                            hover:-translate-y-[2px] hover:bg-zinc-300 active:bg-zinc-300 cursor-pointer min-w-max focus:outline-[1px]
                            max-[720px]:p-[4px] max-[720px]:rounded-lg">
                                <div class="flex items-center space-x-[8px] font-sans 
                                 max-[375px]:text-xs
                                 max-[1024px]:text-sm">
                                    <span class="leading-[1] p-[8px] max-[720px]:font-[600] 
                                     max-[375px]:p-[4px]
                                     max-[1024px]:p-[6px]">
                                        Selengkapnya
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="select-none z-10 w-full h-full flex justify-center items-center bg-zinc-900/50 transition-colors group-hover:bg-zinc-900/75 group-active:bg-zinc-900/75">
                            <div class="text-4xl min-[720px]:text-5xl min-[1024px]:text-6xl 
                            group-hover:text-3xl min-[720px]:group-hover:text-4xl min-[1024px]:group-hover:text-5xl 
                            group-active:text-3xl min-[720px]:group-active:text-4xl min-[1024px]:group-active:text-5xl 
                            translate-y-1 min-[1024px]:group-hover:-translate-y-2 transition-all font-[700] uppercase cursor-pointer text-stone-100">
                                flek <br>sible <br>leng <br>kap
                            </div>
                        </div>
                    </div>
                    <div class="w-[50px] max-[1024px]:w-0"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const contentBox = document.querySelector('[data-index="contentBox"]');
        const scrollContainer = contentBox?.parentElement; // div yang overflow-scroll

        if (!scrollContainer) return;

        let isDown = false;
        let startX;
        let scrollLeft;

        scrollContainer.addEventListener('mousedown', (e) => {
            isDown = true;
            scrollContainer.classList.add('cursor-grabbing');
            scrollContainer.classList.remove('cursor-grab');
            startX = e.pageX - scrollContainer.offsetLeft;
            scrollLeft = scrollContainer.scrollLeft;
        });

        scrollContainer.addEventListener('mouseleave', () => {
            isDown = false;
            scrollContainer.classList.remove('cursor-grabbing');
            scrollContainer.classList.add('cursor-grab');
        });

        scrollContainer.addEventListener('mouseup', () => {
            isDown = false;
            scrollContainer.classList.remove('cursor-grabbing');
            scrollContainer.classList.add('cursor-grab');
        });

        scrollContainer.addEventListener('mousemove', (e) => {
            if (!isDown) return;
            e.preventDefault();
            const x = e.pageX - scrollContainer.offsetLeft;
            const walk = (x - startX) * 1.5; // Percepat scroll
            scrollContainer.scrollLeft = scrollLeft - walk;
        });
    });
  </script>
  